.ant-checkbox-wrapper .ant-checkbox-inner,
.ant-radio-wrapper .ant-radio-inner {
  border-color: #f26d21 !important;
}

.ant-checkbox-checked .ant-checkbox-inner,
.ant-radio-checked .ant-radio-inner {
  border-color: #f26d21 !important;
  background-color: #f26d21 !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox-wrapper:hover .ant-radio-inner,
.ant-radio-wrapper:hover .ant-checkbox-inner,
.ant-radio-wrapper:hover .ant-radio-inner {
  border-color: #f26d21 !important;
  background-color: #f26d21 !important;
}

.ant-modal-content {
  width: 400px !important;
  height: 220px !important;
}

.menu {
  background-color: white;
}

.formInput {
  width: 400px !important;
  height: 30px !important;
}

.formItem {
  margin-bottom: 10px;
}

.searchComponent {
  margin-right: -2px;
  width: 270px !important;
  height: 45px !important;
}

.searchComponent {
  margin-right: -2px;
  width: 270px !important;
  height: 45px !important;
}

.searchComponent .ant-select-selector {
  border: none;
  border-radius: 0;
}

.searchComponent .ant-select-focused .ant-select-selector {
  box-shadow: none;
}

.searchComponent
  .ant-select-selector
  .ant-select:not(.ant-select-disabled):hover {
  border-color: none;
}

.selectSubject {
  border: none;
  outline: none;
}

.custom-underline {
  position: relative;
  display: inline-block;
}

.custom-underline::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #f26d21;
}

.ant-pagination-item-active a {
  border-radius: 50px;
  color: white !important;
  border-color: #f26d21 !important;
  background-color: #f26d21 !important;
}

.ant-pagination-item-active {
  background-color: #f1f3f5 !important;
  border-color: #f1f3f5 !important;
}

.answer {
  width: 450px;
  height: 40px;
  display: flex;
  margin: 10px 0;
  border-radius: 10px;
  align-items: center;
  background-color: white;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer-content {
  background-color: white;
  padding: 10px 0;
}
